<!-- app.component.html -->
<div class="container-sm mt-3" *ngIf="!showProperties && !showLog">
  <div class="card mx-auto" style="width: fit-content;">
    <div class="card-header d-flex justify-content-between algin-items-center">
      <span>{{ title }}</span>
      <span>{{ version }}</span>
    </div>
    <div class="card-body">
      <div class="board">
        <div *ngFor="let row of board; let i = index" class="board-row">
          <button class="buttonTicTacToe" *ngFor="let cell of row; let j = index" (click)="makeMove(i, j)" [disabled]="cell !== null || winner" [ngClass]="{'winner': isWinningCell(i,j)}">
            {{ cell }}
          </button>
        </div>
      </div>
      <div *ngIf="winner" class="alert alert-success" role="alert">
        Gewinner ist <strong>{{ winner }}</strong>
      </div>
      <div *ngIf="!winner && !isBoardFull()" class="alert alert-info" role="alert">
        {{ currentPlayer === players[0].character ? players[0].name : players[1].name }} ist am Zug
      </div>
      <div *ngIf="!winner && isBoardFull()" class="alert alert-info" role="alert">
        Es gibt keinen Sieger
      </div>

      <div class="d-flex justify-content-between">
        <button class="btn btn-primary mr-2" (click)="newGame()">Neues Spiel</button>
        <button class="btn btn-light" (click)="showLog = true">Log</button>
        <button class="btn btn-light" (click)="showProperties = true">Einstellungen</button>
      </div>

    </div>
  </div>

</div>

<div class="container-sm mt-3 d-flex flex-wrap justify-content-between" *ngIf="showProperties">
  <div class="card m-2" style="width: fit-content; flex: 1 0 auto;" *ngFor="let player of players; let i = index">
    <div class="card-header">Einstellungen Spieler {{i+1}}</div>
    <div class="card-body">

        <div class="form-group row mb-2">
          <label for="namePlayer{{i}}" class="col-sm-3 col-form-label">Name</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="namePlayer{{i}}" [(ngModel)]="player.name" />
          </div>
        </div>

      <div class="form-group row mb-2">
        <label for="charPlayer{{i}}" class="col-sm-3 col-form-label">Character</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" id="charPlayer{{i}}" [(ngModel)]="player.character" maxlength="2" />
        </div>
      </div>

      <div class="form-group row mb-2">
        <label for="typePlayer{{i}}" class="col-sm-3 col-form-label">Type</label>
        <div class="col-sm-9">
          <div ngbDropdown class="d-inline-block w-100">
            <button class="btn btn-outline-primary" id="typePlayer{{i}}" ngbDropdownToggle>
              {{player.type ? player.type.name : 'Wählen Sie ein Typ'}}
            </button>
            <div ngbDropdownMenu>
              <button ngbDropdownItem *ngFor="let type of types" (click)="player.type = type">{{type.name}}</button>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="container-sm mt-3 d-flex flex-wrap justify-content-between" *ngIf="showLog">
  <div class="card mx-auto" style="width: fit-content;">
    <div class="card-header">Log</div>
    <div class="card-body">
      <table class="table">
        <colgroup>
          <col width="100px">
          <col width="50px">
          <col width="200px">
        </colgroup>
        <thead>
          <tr>
            <th>Spieler</th>
            <th>Position</th>
            <th>Bemerkung</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of log">
            <td>{{ row.player }}</td>
            <td>{{ row.position }}</td>
            <td>{{ row.bemerkung }}</td>
          </tr>
          <tr ng-if="log.length === 0">
            <td class="text-center text-muted" colspan="3">Keine Einträge</td>
          </tr>
        </tbody>

      </table>
    </div>
  </div>
</div>

<br>
<div class="d-flex justify-content-center" *ngIf="showProperties || showLog">
  <button class="btn btn-light" (click)="showProperties = false; showLog = false">Zurück</button>
</div>
